JUCE/
build/ALL_BUILD.vcxproj
build/ALL_BUILD.vcxproj.filters
build/cmake_install.cmake
build/CMakeCache.txt
build/CMakeFiles/120eed4c907489a7630cd81783d70ce7/INSTALL_force.rule
build/CMakeFiles/4.0.0-rc4/CMakeCCompiler.cmake
build/CMakeFiles/4.0.0-rc4/CMakeCXXCompiler.cmake
build/CMakeFiles/4.0.0-rc4/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/4.0.0-rc4/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/4.0.0-rc4/CMakeRCCompiler.cmake
build/CMakeFiles/4.0.0-rc4/CMakeSystem.cmake
build/CMakeFiles/4.0.0-rc4/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/4.0.0-rc4/CompilerIdC/CompilerIdC.exe
build/CMakeFiles/4.0.0-rc4/CompilerIdC/CompilerIdC.vcxproj
build/CMakeFiles/4.0.0-rc4/CompilerIdC/Debug/CMakeCCompilerId.obj
build/CMakeFiles/4.0.0-rc4/CompilerIdC/Debug/CompilerIdC.exe.recipe
build/CMakeFiles/4.0.0-rc4/CompilerIdC/Debug/CompilerIdC.tlog/CL.command.1.tlog
build/CMakeFiles/4.0.0-rc4/CompilerIdC/Debug/CompilerIdC.tlog/CL.read.1.tlog
build/CMakeFiles/4.0.0-rc4/CompilerIdC/Debug/CompilerIdC.tlog/CL.write.1.tlog
build/CMakeFiles/4.0.0-rc4/CompilerIdC/Debug/CompilerIdC.tlog/CompilerIdC.lastbuildstate
build/CMakeFiles/4.0.0-rc4/CompilerIdC/Debug/CompilerIdC.tlog/link.command.1.tlog
build/CMakeFiles/4.0.0-rc4/CompilerIdC/Debug/CompilerIdC.tlog/link.read.1.tlog
build/CMakeFiles/4.0.0-rc4/CompilerIdC/Debug/CompilerIdC.tlog/link.write.1.tlog
build/CMakeFiles/4.0.0-rc4/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/4.0.0-rc4/CompilerIdCXX/CompilerIdCXX.exe
build/CMakeFiles/4.0.0-rc4/CompilerIdCXX/CompilerIdCXX.vcxproj
build/CMakeFiles/4.0.0-rc4/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj
build/CMakeFiles/4.0.0-rc4/CompilerIdCXX/Debug/CompilerIdCXX.exe.recipe
build/CMakeFiles/4.0.0-rc4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
build/CMakeFiles/4.0.0-rc4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
build/CMakeFiles/4.0.0-rc4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
build/CMakeFiles/4.0.0-rc4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
build/CMakeFiles/4.0.0-rc4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
build/CMakeFiles/4.0.0-rc4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
build/CMakeFiles/4.0.0-rc4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
build/CMakeFiles/4.0.0-rc4/VCTargetsPath.txt
build/CMakeFiles/4.0.0-rc4/VCTargetsPath.vcxproj
build/CMakeFiles/4.0.0-rc4/x64/Debug/VCTargetsPath.recipe
build/CMakeFiles/4.0.0-rc4/x64/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
build/CMakeFiles/46f289407aa9bcfe28939f397a477154/generate.stamp.rule
build/CMakeFiles/46f289407aa9bcfe28939f397a477154/INSTALL_force.rule
build/CMakeFiles/63404d5c0ea5b080c8805c054ddf0463/SimpleGain_resources.rc.rule
build/CMakeFiles/76b4af4c54a2a6ff57e6273521a4098f/INSTALL_force.rule
build/CMakeFiles/94b9bf13fa02e4335875d2f5e416d92e/INSTALL_force.rule
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/cmake.verify_globs
build/CMakeFiles/CMakeConfigureLog.yaml
build/CMakeFiles/efef89111ada8a3c52feac277a5bd3b1/INSTALL_force.rule
build/CMakeFiles/generate.stamp
build/CMakeFiles/generate.stamp.depend
build/CMakeFiles/generate.stamp.list
build/CMakeFiles/InstallScripts.json
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/VerifyGlobs.cmake
build/INSTALL.vcxproj
build/INSTALL.vcxproj.filters
build/juce_vst3_helper.dir/Release/juce_vst3_helper.exe.recipe
build/juce_vst3_helper.dir/Release/juce_vst3_helper.tlog/CL.command.1.tlog
build/juce_vst3_helper.dir/Release/juce_vst3_helper.tlog/CL.read.1.tlog
build/juce_vst3_helper.dir/Release/juce_vst3_helper.tlog/CL.write.1.tlog
build/juce_vst3_helper.dir/Release/juce_vst3_helper.tlog/CustomBuild.command.1.tlog
build/juce_vst3_helper.dir/Release/juce_vst3_helper.tlog/CustomBuild.read.1.tlog
build/juce_vst3_helper.dir/Release/juce_vst3_helper.tlog/CustomBuild.write.1.tlog
build/juce_vst3_helper.dir/Release/juce_vst3_helper.tlog/juce_vst3_helper.lastbuildstate
build/juce_vst3_helper.dir/Release/juce_vst3_helper.tlog/link.command.1.tlog
build/juce_vst3_helper.dir/Release/juce_vst3_helper.tlog/link.read.1.tlog
build/juce_vst3_helper.dir/Release/juce_vst3_helper.tlog/link.write.1.tlog
build/juce_vst3_helper.dir/Release/juce_VST3ManifestHelper.obj
build/juce_vst3_helper.vcxproj
build/juce_vst3_helper.vcxproj.filters
build/Release/juce_vst3_helper.exe
build/SimpleGain.dir/Release/juce_audio_basics.obj
build/SimpleGain.dir/Release/juce_audio_devices.obj
build/SimpleGain.dir/Release/juce_audio_formats.obj
build/SimpleGain.dir/Release/juce_audio_processors.obj
build/SimpleGain.dir/Release/juce_audio_processors_ara.obj
build/SimpleGain.dir/Release/juce_audio_processors_lv2_libs.obj
build/SimpleGain.dir/Release/juce_audio_utils.obj
build/SimpleGain.dir/Release/juce_core.obj
build/SimpleGain.dir/Release/juce_core_CompilationTime.obj
build/SimpleGain.dir/Release/juce_data_structures.obj
build/SimpleGain.dir/Release/juce_events.obj
build/SimpleGain.dir/Release/juce_graphics.obj
build/SimpleGain.dir/Release/juce_graphics_Harfbuzz.obj
build/SimpleGain.dir/Release/juce_graphics_Sheenbidi.obj
build/SimpleGain.dir/Release/juce_gui_basics.obj
build/SimpleGain.dir/Release/juce_gui_extra.obj
build/SimpleGain.dir/Release/PluginEditor.obj
build/SimpleGain.dir/Release/PluginProcessor.obj
build/SimpleGain.dir/Release/Simple Gain_SharedCode.lib.recipe
build/SimpleGain.dir/Release/SimpleGain.tlog/CL.command.1.tlog
build/SimpleGain.dir/Release/SimpleGain.tlog/CL.read.1.tlog
build/SimpleGain.dir/Release/SimpleGain.tlog/CL.write.1.tlog
build/SimpleGain.dir/Release/SimpleGain.tlog/CustomBuild.command.1.tlog
build/SimpleGain.dir/Release/SimpleGain.tlog/CustomBuild.read.1.tlog
build/SimpleGain.dir/Release/SimpleGain.tlog/CustomBuild.write.1.tlog
build/SimpleGain.dir/Release/SimpleGain.tlog/Lib-link.read.1.tlog
build/SimpleGain.dir/Release/SimpleGain.tlog/Lib-link.write.1.tlog
build/SimpleGain.dir/Release/SimpleGain.tlog/Lib.command.1.tlog
build/SimpleGain.dir/Release/SimpleGain.tlog/SimpleGain.lastbuildstate
build/SimpleGain.vcxproj
build/SimpleGain.vcxproj.filters
build/SimpleGain_All.vcxproj
build/SimpleGain_All.vcxproj.filters
build/SimpleGain_artefacts/JuceLibraryCode/Debug/Defs.txt
build/SimpleGain_artefacts/JuceLibraryCode/Info.txt
build/SimpleGain_artefacts/JuceLibraryCode/MinSizeRel/Defs.txt
build/SimpleGain_artefacts/JuceLibraryCode/Release/Defs.txt
build/SimpleGain_artefacts/JuceLibraryCode/RelWithDebInfo/Defs.txt
build/SimpleGain_artefacts/JuceLibraryCode/SimpleGain_resources.rc
build/SimpleGain_artefacts/Release/Simple Gain_SharedCode.lib
build/SimpleGain_artefacts/Release/VST3/Simple Gain.exp
build/SimpleGain_artefacts/Release/VST3/Simple Gain.lib
build/SimpleGain_artefacts/Release/VST3/Simple Gain.vst3/Contents/Resources/moduleinfo.json
build/SimpleGain_artefacts/Release/VST3/Simple Gain.vst3/Contents/x86_64-win/Simple Gain.vst3
build/SimpleGain_rc_lib.dir/Release/SimpleGa.0A7D1511.tlog/CustomBuild.command.1.tlog
build/SimpleGain_rc_lib.dir/Release/SimpleGa.0A7D1511.tlog/CustomBuild.read.1.tlog
build/SimpleGain_rc_lib.dir/Release/SimpleGa.0A7D1511.tlog/CustomBuild.write.1.tlog
build/SimpleGain_rc_lib.dir/Release/SimpleGa.0A7D1511.tlog/Lib-link-cvtres.read.1.tlog
build/SimpleGain_rc_lib.dir/Release/SimpleGa.0A7D1511.tlog/Lib-link-cvtres.write.1.tlog
build/SimpleGain_rc_lib.dir/Release/SimpleGa.0A7D1511.tlog/Lib.command.1.tlog
build/SimpleGain_rc_lib.dir/Release/SimpleGa.0A7D1511.tlog/rc.command.1.tlog
build/SimpleGain_rc_lib.dir/Release/SimpleGa.0A7D1511.tlog/rc.read.1.tlog
build/SimpleGain_rc_lib.dir/Release/SimpleGa.0A7D1511.tlog/rc.write.1.tlog
build/SimpleGain_rc_lib.dir/Release/SimpleGa.0A7D1511.tlog/SimpleGain_rc_lib.lastbuildstate
build/SimpleGain_rc_lib.dir/Release/SimpleGain_rc_lib.lib
build/SimpleGain_rc_lib.dir/Release/SimpleGain_rc_lib.lib.recipe
build/SimpleGain_rc_lib.dir/Release/SimpleGain_rc_lib.vcxproj.FileListAbsolute.txt
build/SimpleGain_rc_lib.dir/Release/SimpleGain_resources.res
build/SimpleGain_rc_lib.vcxproj
build/SimpleGain_rc_lib.vcxproj.filters
build/SimpleGain_Standalone.vcxproj
build/SimpleGain_Standalone.vcxproj.filters
build/SimpleGain_VST3.dir/Release/juce_audio_plugin_client_AAX.obj
build/SimpleGain_VST3.dir/Release/juce_audio_plugin_client_AAX_utils.obj
build/SimpleGain_VST3.dir/Release/juce_audio_plugin_client_ARA.obj
build/SimpleGain_VST3.dir/Release/juce_audio_plugin_client_LV2.obj
build/SimpleGain_VST3.dir/Release/juce_audio_plugin_client_Standalone.obj
build/SimpleGain_VST3.dir/Release/juce_audio_plugin_client_Unity.obj
build/SimpleGain_VST3.dir/Release/juce_audio_plugin_client_VST2.obj
build/SimpleGain_VST3.dir/Release/juce_audio_plugin_client_VST3.obj
build/SimpleGain_VST3.dir/Release/Simple Gain.vst3.recipe
build/SimpleGain_VST3.dir/Release/SimpleGain_VST3.tlog/CL.command.1.tlog
build/SimpleGain_VST3.dir/Release/SimpleGain_VST3.tlog/CL.read.1.tlog
build/SimpleGain_VST3.dir/Release/SimpleGain_VST3.tlog/CL.write.1.tlog
build/SimpleGain_VST3.dir/Release/SimpleGain_VST3.tlog/CustomBuild.command.1.tlog
build/SimpleGain_VST3.dir/Release/SimpleGain_VST3.tlog/CustomBuild.read.1.tlog
build/SimpleGain_VST3.dir/Release/SimpleGain_VST3.tlog/CustomBuild.write.1.tlog
build/SimpleGain_VST3.dir/Release/SimpleGain_VST3.tlog/link.command.1.tlog
build/SimpleGain_VST3.dir/Release/SimpleGain_VST3.tlog/link.read.1.tlog
build/SimpleGain_VST3.dir/Release/SimpleGain_VST3.tlog/link.write.1.tlog
build/SimpleGain_VST3.dir/Release/SimpleGain_VST3.tlog/SimpleGain_VST3.lastbuildstate
build/SimpleGain_VST3.dir/Release/SimpleGain_VST3.tlog/SimpleGain_VST3.write.1u.tlog
build/SimpleGain_VST3.dir/Release/SimpleGain_VST3.tlog/unsuccessfulbuild
build/SimpleGain_VST3.vcxproj
build/SimpleGain_VST3.vcxproj.filters
build/SimpleGainPlugin.sln
build/x64/Release/ZERO_CHECK/ZERO_CHECK.recipe
build/x64/Release/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.command.1.tlog
build/x64/Release/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.read.1.tlog
build/x64/Release/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.write.1.tlog
build/x64/Release/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
build/ZERO_CHECK.vcxproj
build/ZERO_CHECK.vcxproj.filters
